@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0%;
}

.texto {
  padding: 10%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30pt;
  font-weight: bold;
  color: black;
  margin-top: 40px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14pt;
  color: black;
  line-height: 1em;
  font-weight: bold;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14pt;
  color: black;
  line-height: 1em;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12pt;
}

q {
  font-style: italic;
}

hr {
  visibility: hidden;
  height: 1em;
}

hr .Separador {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  right: 0px;
  left: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  z-index: 6;
}

header img {
  margin-left: 50px;
  width: 250px;
  position: absolute;
  top: 11px;
}

header ul {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 13pt;
  color: #b2b1b0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 50px;
}

header li {
  margin: 0px 20px 0px 0px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #b2b1b0;
}

header #sig {
  text-decoration: underline;
  color: #b2b1b0;
}

.slideshoweventos {
  width: 100%;
  height: 100%;
  margin: -30px 0px 0px 0px;
  overflow: hidden;
}

.slideshoweventos img {
  width: 100%;
  height: 100%;
}

#prevnext {
  width: 100%;
  height: 19px;
  display: flex;
  position: relative;
  padding-top: 5px;
}

#prevnext img {
  width: 50%;
}

#previous {
  padding-left: 47%;
  padding-right: 3%;
}

.FBAUP {
  background-image: url("Imagens/Background_FBAUP.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 745px;
  position: relative;
  top: 0px;
  right: 0px;
}

.fbaup_caixabranca {
  background-color: red;
  height: auto;
  width: 33.33%;
  text-align: left;
  height: 745px;
  float: right;
}

.texto {
  padding: 10%;
}

#TABELA {
  width: 100%;
}

#TABELA div {
  display: inline;
  flex-wrap: wrap;
  flex-flow: column-reverse;
  width: 33%;
  height: 100%;
}

#TABELA img {
  width: 33%;
  height: auto;
  margin: 0px;
  padding: 0px;
  filter: brightness(100%);
}

#TABELA img:hover {
  filter: grayscale(100%);
  filter: brightness(75%);
}

#link {
  color: white;
}

.caixadetexto {
  background-color: red;
  height: auto;
  width: 33.33%;
  text-align: left;
  position: absolute;
  top: 0px;
  right: 0px;
}

footer {
  position: fixed;
  right: 0px;
  left: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 0px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

footer ul {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 13pt;
  color: #b2b1b0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 50px;
  font-weight: normal;
}

footer li {
  margin: 0px 20px 0px 0px;
  list-style: none;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #b2b1b0;
}

@media only screen and (max-width: 990px) {
  .FBAUP {
    background-image: url("Imagens/Background_FBAUP.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .fbaup_caixabranca {
    background-color: red;
    height: auto;
    width: 33.33%;
    text-align: left;
    height: 600px;
    float: right;
  }
}
