//---IMPORTS----------
@import "_vars";
@import "_mixins";

//---FONT-------------
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

//---BODY----------

body {
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    margin: 0%;
}

//---DEFINIÇÃO DO TEXTO------------------------
.texto{
  padding: 10%;
}
h1{
  @include titletext;
}
h2{
  @include subtitle;
  font-weight: bold;
}
h3{
  @include subtitle;
}
p{
  @include text;
}
q{
  font-style: italic;
}
hr{
  visibility: hidden;
  height: 1em;
}
hr .Separador{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.50);

}

//---PAGINA_PRINCIPAL-------------------------------------------
header{
  @include barra;
  top: 0px;
  z-index: 6;
    img{
      margin-left: 50px;
      width: 250px;
      position:absolute;
      top: 11px;
    }
    ul{
      @include menudef;
    }
    li{
      margin: 0px 20px 0px 0px;
      list-style: none;
    }
    a{
      text-decoration: none;
      color: #b2b1b0;
    }
    #sig{
      text-decoration: underline;
      color: #b2b1b0;
    }
  }

.slideshoweventos{
  width: 100%;
  height:100%;
  margin: -30px 0px 0px 0px;
  overflow: hidden;
  img{
   width:100%;
   height: 100%;
  }
}
//---SETAS--------------
#prevnext{
  //visibility: hidden;
  width:100%;
  height: 19px;
  display: flex;
  position:relative;
  padding-top: 5px;
  img{
    width:50%;
  }
}
#previous{
padding-left: 47%;
padding-right: 3%;
}



//---ABOUT---------------------------------------------------
.FBAUP{
  background-image: url("Imagens/Background_FBAUP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 745px;
  position: relative;
  top: 0px;
  right: 0px;
}
.fbaup_caixabranca{
  @include barradetexto;
  height: 745px;
  float: right;
}
.texto{
  padding: 10%;
}

//---SERVIÇOS, CURSOS E EVENTOS-----------------------------------------------
#TABELA{
  width: 100%;
  div {
    display: inline;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    width: 33%;
    height: 100%;;
  }
  img {
    width: 33%;
    height: auto;
    margin: 0px;
    padding: 0px;
    filter: brightness(100%);
  }
  img:hover{
    filter: grayscale(100%);
    filter: brightness(75%);
  }
}

//---EVENTOS DESCRIÇÃO-------------------------------------------------
.eventosdesc{
  background-image: url("Imagens/Background_40 Anos, Cinanima.png");
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center center;
  margin: 0%;
}
.eventosdesc1{
  background-image: url("Imagens/Background_Linhas de Fundo.png");
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center center;
  margin: 0%;
}
.eventosdesc2{
    background-image: url("Imagens/Background_Cópia Certificada.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    margin: 0%;
}

#link{
  color: white;
}
.caixadetexto{
  @include barradetexto;
  position:absolute;
    top: 0px;
    right: 0px;
}

//---FOOTER------------------------------------------------------------
footer{
  @include barra;
  position: relative;
  bottom: 0px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.80);
  ul{
    @include menudef;
    font-weight: normal;
  }
  li{
    margin: 0px 20px 0px 0px;
    list-style: none;
  }
  a{
    font-weight: bold;
    text-decoration: none;
    color: #b2b1b0;
  }
}

//---RESPONSIVE-----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width: 1024px) { //---IPAD PRO--------------
  #prevnext{
    display: none;
  }

  .FBAUP{
    height: 650px;
  }
  .fbaup_caixabranca{
    height: 650px;
  }
  .caixadetexto{
    @include barradetexto;
    position:relative;
      top: 350px;
      right: 0px;
      width: 100%;
    }
}

@media only screen and (max-width: 1024px) { //---IPAD------------------
  header{
      ul{
        font-size: 11pt;
      }
      li{
        margin: 0px 10px 0px 0px;
      }
    }

  #prevnext{
    display: none;
  }

  .eventosdesc{
    background-image: url("Imagens/Background_40 Anos, Cinanima.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top center;
    margin: 0%;
  }
  .eventosdesc1{
    background-image: url("Imagens/Background_Linhas de Fundo.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top center;
    margin: 0%;
  }
  .eventosdesc2{
      background-image: url("Imagens/Background_Cópia Certificada.jpg");
      background-size:100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:top center;
      margin: 0%;
  }

  .FBAUP{
    height: 530px;
  }
  .fbaup_caixabranca{
    width: 50%;
    height: 535px;
  }
  .texto{
    padding: 5% 10% 5% 10%;
  }

  #TABELA{
    div {
      width: 49%;
    }
    img {
      width: 49%;
    }
  }
}
@media only screen and (max-width: 441px) { //--I PHONE 6
//---PAGINA_PRINCIPAL-------------------------------------------
  header{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.70);
      img{
        margin-left: 15px;
        width: 180px;
      }
      li{
        margin: 30px 10px 0px 0px;
      }
      ul{
        font-size: 8pt;
        margin-right: 10px;
      }
    }
  .slideshoweventos{
    visibility: hidden;
    }
    //---SETAS--------------
  #prevnext{
    display: none;
  }
  #previous{
    display: none;
  }
  //---ABOUT------------------------------------------------
  .FBAUP{
    width: auto;
    height: 260px;
    position:absolute;
    top: 0px;
    right: 0px;
  }
  .fbaup_caixabranca{
    float:none;
    position:relative;
    top:264px;
    width: 95%;
    height: 190px;
    h1{
      font-size: 10pt;
      margin-top: 0;
    }
    p{
      font-size:7pt;
    }
  }
  .texto{
    margin-top: 0;
    padding: 8%;
  }
  //---SERVIÇOS, CURSOS E EVENTOS------------------------------------
  #TABELA{
    width: 100%;
    position: relative;
    top:100px;
    div {
      width: 49.4%;
      height: 100%;;
    }
    img {
      width: 49.4%;
    }
  }
  //---FOOTER------------------------------------------------------------
  footer{
    position: relative;
    top:200px;
    bottom: 0px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.80);
    ul{
      @include menudef;
      font-weight: normal;
    }
    li{
      margin: 0px 30px 0px 0px;
      list-style: none;
      font-size: 7pt;
    }
  }
}
